<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Kirjaudu sisään</title>
    <link rel="stylesheet" href="../../css/login_style.css" />
  </head>
  <body>
    <section class="hero login-hero">
      <div class="login-box">
        <h1>Kirjaudu sisään</h1>
        <p>Opiskelijaravintolat</p>

        <form class="login-form" action="main.html">
          <input type="text" placeholder="Käyttäjätunnus" required />
          <input type="password" placeholder="Salasana" required />

          <button type="submit">Kirjaudu</button>
        </form>
      </div>
    </section>
  </body>
</html>
