<!doctype html>
<html lang="fi">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Profiili</title>
    <link rel="stylesheet" href="../../css/profile_style.css" />
  </head>
  <body>
    <section class="hero profile-hero">
      <a href="restaurants.html" class="back-btn" id="backBtn">← Takaisin</a>
      <button type="button" class="logout-btn" id="logoutBtn">Logout</button>

      <div class="profile-card">
        <label class="profile-image-wrap" for="avatarInput">
          <img
            src="../../img/picture8.jpg"
            alt="Profiili"
            class="profile-img"
            id="profileAvatar"
          />
          <span class="avatar-overlay">Vaihda kuva</span>
        </label>
        <input
          type="file"
          id="avatarInput"
          accept="image/*"
          class="avatar-input"
        />
        <h1 id="profileHeroName">Opiskelija</h1>
        <p>Metropolia AMK</p>
        <div class="profile-box">
          <div class="profile-info">
            <p>
              <strong>Käyttäjätunnus:</strong>
              <span id="profileUsername">-</span>
            </p>
            <p><strong>Sähköposti:</strong> <span id="profileEmail">-</span></p>
          </div>
        </div>
      </div>
    </section>

    <script type="module" src="../js/profile.js"></script>
  </body>
</html>
